.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
* {
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
}
.Sidebar {
  flex: 2;
}
.Main {
  flex: 8;
  height: inherit;
}

.main-header {
  display: flex;
}

.saved-btn:hover {
  background-color: #282c34;
}
.sub-menu {
  display: none;

  padding: 50px 0px;
}

.location-delete {
  padding: 0px 15px;
}

.saved:hover .sub-menu {
  display: block;
}

.weather-information {
  height: calc(100% - 42px);
  display: flex;
}

.Highlights {
  flex: 5;
}
.saved-location-card {
  flex: 2;
}
.test {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}
.search-div {
  flex: 5;
  max-width: 500px;
  height: 40px;
  margin: auto;
  padding: 0px;
  display: flex;
  border-radius: 40px;
  border: 1px solid gray;
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px;
  border: none;
}
#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
}
#search-btn:hover {
  background-color: rgb(216, 216, 216);
}

.dark {
  background-color: lightgray;
}

.light {
  background-color: white;
}

.daily-hourly {
  display: flex;
  justify-content: space-around;
}

.Daily-cards {
  display: flex;
  justify-content: space-evenly;
}
.Hourly-cards {
  display: flex;
  justify-content: space-evenly;
}
.todays-highlights {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.city-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temp-text {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .weather-information {
    flex-direction: column-reverse;
  }
}
