* {
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background-color: lightcoral;
}

.App {
  height: 100vh;
  display: flex;
}

.light {
  background-color: white;
}
.Sidebar {
  flex: 2;
}

.Sidebar h3 {
  color: #4f6694;
  margin-bottom: 82px;
}

.dashboard-saved {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Main {
  flex: 8;
  height: inherit;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}
.saved-btn,
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #2757b6;
  border-radius: 40px;
}
.saved-btn:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: #2757b6;
  border-radius: 40px;
}
.sub-menu {
  display: none;
  padding: 15px 0px;
}

.sub-menu li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.sub-menu p {
  color: #000614;
}

.sub-menu li p:hover {
  color: #9cadce;
  cursor: pointer;
}
.location-delete {
  padding: 0px 15px;
}
.location-delete:hover {
  color: red;
}

.saved:hover .sub-menu {
  display: block;
}

.weather-information {
  height: calc(100% - 82px);
  display: flex;
  padding: 0px;
}

.Highlights {
  flex: 75%;
  background-color: whitesmoke;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.saved-location-card {
  flex: 25%;
  padding: 5px 10px;
  background: linear-gradient(#9cadce, #102142);
}
.temp-condition-text {
  margin: 0px 5px;
}
.temp-condition-text img {
  padding: 0px;
  margin: 0px;
}

.temp {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
}

.temp-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.condition-text {
  font-size: 1.2rem;
}
.city-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
  padding: 0px;
}
.city h2,
p {
  padding: 0px;
  margin: 0px;
}
.city p {
  font-size: 0.7rem;
}
.chance-of-rain {
  margin: 0px 5px;
  padding: 0px;
}

.chance-of-rain h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px 0px;
  text-align: start;
}
.chance-of-rain div {
  font-size: 1.5rem;
  margin: 0px 0px;
}
.chance-of-rain-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

#chance-of-rain-icon {
  font-size: 2.5rem;
  color: #bdc0c5;
}
.sunrise-sunset {
  margin: 0px 5px;
}

.sunrise-sunset h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px 0px;
  text-align: start;
}

.sunrise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0px 0px;
}

.sun-icon-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sunrise h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0px 0px;
}
#sunrise-icon {
  font-size: 2rem;
  color: #bdc0c5;
}
.sunrise .sunrise-info {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0px;
}

.sunset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px 0px;
}

.set-icon-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sunset h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0px;
}
#sunset-icon {
  font-size: 2rem;
  color: #bdc0c5;
}
.sunset .sunset-info {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px 0px;
}

.test {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}
.search-div {
  flex: 5;
  max-width: 500px;
  height: 40px;
  padding: 0px;
  display: flex;
  border-radius: 40px;
  border: 1px solid gray;
  background-color: white;
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px;
  border: none;
}
#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
}
#search-btn:hover {
  background-color: rgb(216, 216, 216);
}

.daily-hourly {
  flex: 1;
  text-align: start;
  padding-left: 25px;
  padding-bottom: 0px;

}

.daily-hourly div {
  cursor: pointer;
  display: inline;
  font-size: 1.3rem;
  margin-right: 15px;

}

.current {
  border-bottom: 4px solid #121f3b;
}

.highlights-content {
  flex: 5;
}

.today-div {
  flex: 5;
}
.today-div h3 {
  text-align: start;
  color: #000614;
  margin: 0px;
  padding-left: 25px;

}

.Daily-cards {
  display: flex;
  justify-content: space-evenly;
}

.Daily-cards .card {
  background-color: white;
  width: 30%;
  padding: 0px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  box-shadow: 1px 1px 15px rgb(231, 231, 231);
}

.Daily-cards h5 {
  color: rgb(92, 92, 92);
}

.Daily-cards p {
  color: #000614;
  font-size: 1.6rem;
}
.Hourly-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.Hourly-cards .HourlyHighlightCard {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgb(231, 231, 231);
}

.Hourly-cards h4 {
  color: rgb(92, 92, 92);
}

.todays-highlights {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 20px;

  gap: 15px;
}
.todays-highlights .TodayHighlightCard {
  background-color: white;
  border-radius: 10px;
  padding: 5px 0px;
}
.TodayHighlightCard {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(231, 231, 231);
}

.today-card-icon {
  font-size: 2.5rem;
}

.today-card-info h5 {
  color: rgb(54, 54, 54);
}
.today-card-info p {
  font-size: 1.7rem;
  color: #081124;
}


.alerts-menu {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -400px;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #9cadce;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.alerts-menu-close {
  color: white;
  border: 1px solid black;
  text-align: end;
  padding-right: 15px;
  font-weight: bold;
}

.alerts-menu.enter {
  opacity: 1;
  right: 0;
}

.theme-symbol-save-alert {
  display: flex;
  gap: 5px;
}
.theme-btn {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}

.theme-btn:hover {
  background-color: white;
  color: #000614;
  border: 1px solid #000614;
}
.symbol-btn {
  border-radius: 5px;
  padding: 0px 15px;
  border: none;
  border: 1px solid black;
  background-color: whitesmoke;
}

.symbol-btn:hover {
  background-color: black;
  color: white;
}

.save-btn {
  border-radius: 5px;
  border: 1px solid #000614;
  background-color: whitesmoke;
}

.save-btn:hover {
  background-color: black;
  color: white;
}

.alert-btn {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#alert-icon {
  font-size: 1.4rem;
  cursor: pointer;
  padding: 5px;
}

#alert-icon:hover {
  color: #9cadce;
}

.daily-card-icon {
  font-size: 2rem;
  color: #28498a;
}


.dark {
  background-color: black;
  color: white;
}

.Highlights.dark .card{
  background-color: #000614;
  color: white;
  border: 1px solid white;
  box-shadow: none;

}

.Highlights.dark .HourlyHighlightCard{
  background-color: #000614;
  color: white;
  border: 1px solid white;
  box-shadow: none;
}


.Highlights.dark .daily-card-icon, .today-card-icon{
  color: white;
}

.Highlights.dark .card p{
  color: white;
}

.Highlights.dark .card h5{
  color: white;
}

.Highlights.dark h3{
  color: white;
}

.Highlights.dark .HourlyHighlightCard h4{
  color: white;
}

.Highlights.dark .HourlyHighlightCard .hourly-temp{
  color: white;
}

.Highlights.dark .TodayHighlightCard{
  background-color: #000614;
  color: white;
  border: 1px solid white;
  box-shadow: none;
}

.Highlights.dark .TodayHighlightCard .today-card-icon{
  color: white;
}

.Highlights.dark .TodayHighlightCard h5{
  color: white;
}

.Highlights.dark .TodayHighlightCard p{
  color: white;
}

.saved-location-card.dark {
  background: linear-gradient(#000614, black);
  color: white;
  border: 1px solid white;
}

.saved-location-card.dark .temp{
  color: white;
 
}

.Sidebar.dark {
  background-color: #000614;
}

.Sidebar.dark h3 {
  color: white;
}

.Main.dark .main-header {
  background-color: #000614;
}

@media screen and (max-width: 1024px) {
  .Hourly-cards .HourlyHighlightCard {
    padding: 0px 45px;
  }
}


@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .weather-information {
    flex-direction: column;
  }
  .alerts-menu {
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    flex-direction: column;
  }
  .alerts-menu {
    width: 50%;
  }
  .todays-highlights {
    grid-template-columns: auto;
  }
  .TodayHighlightCard {
    padding: 0px 100px;
  }
  .Daily-cards {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .Daily-cards .card {
    width: 100%;

  }
  .Hourly-cards {
    gap: 15px;
    flex-wrap: wrap;
  }

  .HourlyHighlightCard {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
  .search-div input {
    width: 100%;
  }
}
